/* Banner Image */
body img {
    z-index: 1; /* Send the image to the back */
}

/* Main Section */
#first{
    /* background-color: black; */
    height: 710px;
    display: flex;
    
}
#first .banner {
    position: relative;
    width: 100%;
    max-width: 900px;
    height: 400px;
    margin-left: 330px;
    margin-top: 155px;
    overflow: hidden;
    text-align: center;
    }

/* Content Section */
#first .banner-content {
    position: relative;
    z-index: 1;
    padding-top: 100px;
}

#first .banner-content h1 {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 1rem;
    line-height: 1.2;
    color: white;
}

#first .banner-content p {
    font-size: 1.2rem;
    max-width: 600px;
    margin: 0 auto 2rem;
    color: white;
}