#ser .container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 5rem;
}
/* Grid Container */
#ser .grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1.5rem;
}

/* Grid Items */
#ser .grid-item {
  position: relative;
  padding: 1.5rem;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
}

#ser .grid-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}

/* Plus Icon */
#ser .plus-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 1.5rem;
  font-weight: bold;
  color: black;
  background-color: #ffff00;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Icons */
#ser .icon {
  max-width: 80px;
  margin: 1rem auto;
  display: block;
}

#ser .icon-placeholder {
  font-size: 2rem;
  margin: 1rem auto;
  color: #fff;
}

/* Grid Item Text */
#ser .grid-item h3 {
  font-size: 1.2rem;
  color: white;
  margin-top: 1rem;
}