/* small banner */
#small-banner {
    padding: 50px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #000;
}

#small-banner .stats-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 90px;
}

#small-banner .stat {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#small-banner .stat h2 {
    font-size: 2.5rem;
    font-weight: bold;
    color: #e0e0e0;
    margin-bottom: 10px;
}

#small-banner .stat p {
    font-size: 1rem;
    font-weight: 400;
    color: #c0c0c0;
}

/* Divider */
#small-banner .divider {
    height: 60px;
    width: 2px;
    background: linear-gradient(to bottom, transparent, #4f4f4f, transparent);
}

